@model Competition.ViewModels.Athletes.EditVM
@using Competition.Entities;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h2>Edit</h2>

<fieldset>
    <legend>Edit Athlete</legend>

    <form action="/Athletes/Edit" method="post">
        @Html.HiddenFor(m => m.Id)
        <div class="grid">
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.Name)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.Name)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="row">
                @*<div class="col-1">
                @Html.LabelFor(m => m.Country)
            </div>
            <div class="col-2">
                @Html.TextAreaFor(m => m.Country)
            </div>
            <div class="col-2">
                @Html.ValidationMessageFor(m => m.Country)
            </div>*@

                <div class="col-1">
                    <b>@Html.Label("Country:") </b>
                </div>
                <select name="teamId">
                    @foreach (var item in (List<Team>)ViewData["team"])
                    {
                        <option value="@item.Id">
                            @item.Country
                        </option>
                    }
                </select>
            </div>
            <div class="row">
                <div class="col-3">
                    <input class="right" type="submit" value="Save" />
                </div>
            </div>
            
        </div>
    </form>
</fieldset>
<a href="/Athletes/Index">Return</a>